a, html, body, h1, h2, h3, h4, h5, p {
  color: white;
  text-align: center;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: url('../images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

video {
  width: 90vmin;
}

.bypass {
  display: block;
}

.split { width: 100%; padding-bottom: 10px; }

.credits {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 10px;
    padding-bottom: 10px;
}

.url,.url:visited,.url:hover,.url:active,.url:hover {
  text-decoration: none;
  color: #14BAE4;
  font-size: 16px;
  padding: 0px;
}

.text-effect {
    text-shadow: 3px 3px 15px black;
    transition: all 0.5s ease;
}

.box {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px 0px 0px 0px;
    padding-left: 10px;
    padding-top: 10px;
}

.image_title {
  width: 35vmin;
  border-radius: 100%;
  transition: all 1s ease;
}

.error-text {
  font-size: 10vmin;
  transition: all 0.5s ease;
}

.title {
  font-size: 12vmin;
  padding-bottom: 25px;
  transition: all 0.5s ease;
}

.gandalf {
  background: url('../images/gandalf.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.overlay_black {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

.button_line {
  color: white;
  width: 100%;
}

br {
  display: none;
}

.center_page {
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a,a:visited,a:hover,a:active{
  padding-left: 10px;
  padding-right: 10px;
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
	position:relative;
  transition:0.5s color ease;
	text-decoration:none;
	color: white;
	font-size: 5vmin;
}
a:hover{
	color: #14BAE4;
}
a.before:before,a.after:after{
  content: "";
  transition:0.5s all ease;
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
  position:absolute;
}
a.before:before{
  top:-0.25em;
}
a.after:after{
  bottom:-0.25em;
}
a.before:before,a.after:after{
  height:5px;
  height:0.35rem;
  width:0;
  background: #14BAE4;
}

a.linkeffect:after {
  left:50%;
  -webkit-transform:translateX(-50%);
          transform:translateX(-50%);
}

a.before:hover:before,a.after:hover:after{
  width:100%;
}

@media screen and (max-width: 500px) {
  .split {
    display: none;
  }

  .image_title {
    width: 50vmin;
  }

  .title {
    font-size: 13vmin;
  }

  linkbreak:before {
    content: "";
  }

  a,a:visited,a:hover,a:active {
    font-size: 7vmin;
  }

  br {
    display: block;
  }
}
