a, html, body, h1, h2, h3, h4, h5, p {
  color: white;
  text-align: center;
  margin: 0;
  font-family: Verdana;
}

body {
  background: url('../images/bg.gif');
  background-size: cover;
  background-repeat: no-repeat;
}

.credits {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 10px;
    padding-bottom: 10px;
}

.url {
  text-decoration: none;
  color: #14BAE4;
}

.text-effect {
    text-shadow: 3px 3px 15px black;
    transition: all 0.5s ease;
}

.box {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px 0px 0px 0px;
    padding-left: 10px;
    padding-top: 10px;
}

.image_title {
  width: 35vmin;
  border-radius: 100%;
  transition: all 1s ease;
}

.title {
  font-size: 12vmin;
  padding-bottom: 25px;
}

.overlay_black {
  background: rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
}

.button_line {
  color: white;
  width: 100%;
}

br {
  display: none;
}

a.button {
  font-family: Arial, FontAwesome;
  border-radius: 5px;
  font-size: 5vmin;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 7px;
  text-decoration: none;
  transition: all 0.5s ease;
}

a.button:hover {
  transition: all 0.5s ease;
  background-color: rgba(0, 0, 0, 0.5);
}

.center_page {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.white-text {color:white;}
.black-text {color:black;}
.green-text {color:green;}
.yellow-text {color:yellow;}
.cyan-text {color:cyan;}
.blue-text {color:blue;}
.orange-text {color:orange;}
.white-text {color:white;}
.grey-text {color:#3B425B;}
.lightblue-text {color:#14BAE4;}

.white {background-color:white;}
.black {background-color:black;}
.green {background-color:green;}
.yellow {background-color:yellow;}
.cyan {background-color:cyan;}
.blue {background-color:blue;}
.orange {background-color:orange;}
.white {background-color:white;}
.grey {background-color:#3B425B;}
.lightblue {background-color:#14BAE4;}

@media screen and (max-width: 500px) {
  br {
    display: block;
  }

  a.button {
    font-size: 7vmin;
  }
}
