html
  head
    title Spooktober
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no")

    meta(name="theme-color" content="#000000")
    meta(content="https://alexflipnote.dev/pages/spooky/assets/skull_full.png" property="og:image")
    link(rel="icon" type="image/x-icon" href="https://alexflipnote.dev/pages/spooky/assets/skull.png")
    meta(content="Spooktober" property="og:title")

    meta(content="Have a spooky October!" property="og:description")
    meta(content="Have a spooky October!" name="description")

    link(href="style.css" type="text/css" rel="stylesheet")
    script(src="script.js" type="text/javascript" charset="utf-8")

  body
    section#window
      #drag.window.win-animation
        #drag-titlebar.window-titlebar
          .window-title-area
            span.window-title It's nearly October
          button#window-close.window-close-button.window-button.tooltip
            span.tooltiptext You can't escape!
        .window-content.flex-gird
          img(class="alert" src="assets/skull.png" draggable="false")
          .alert-text
            p.alert-inner-text Time to get spooky!
        .window-buttons.center
          button#spooktime Yes
          button#spooktime2 Hell Yes

    #dankmode
      button#dank Enable dank mode

    #spookwindow
      h1(id="timer" style="font-family: Verdana;") You've been spooked for #[br] #[span#time 0.0s]
      video(loop id="spookyvid") Your browser does not support video...
