// NextJS stuff
#__next, .next-body {
  height: 100%;
}

a.white-text:hover { color: #fff; }
a.black-text:hover { color: #000; }

/* Change a bit default ModestaCSS values */
.fullscreen h1.title { margin-bottom: 0; letter-spacing: 2px; }
.undertitle { font-style: italic; }
.box-container {
  margin-bottom: .5rem;

  p {
    font-size: 18px;
    margin: 0;
  }
}

/* Some custom stuff */
.arrow svg { fill: #fff; }
.info-button { cursor: pointer; }
.info-container { padding-left: 2.5em; }
.footer-name::before, .footer-name::after { content: " | "; }
.title {
  font-size: 3em;
  margin: 0;
}

/* Link bullshit */
a { color: #1eaedb; }
a:hover { color: #0fa0ce; }

/* Custom Modesta emojis */
.alexcoffee { background-image: url('../images/AlexCoffee.png'); }
.alexnoted { background-image: url('../images/AlexNoted.png'); }
.norway {
  background-image: url('https://twemoji.maxcdn.com/2/svg/1f1f3-1f1f4.svg');
  vertical-align: -.3em;
  height: 1.25em;
  width: 1.25em;
  background-size: 1.25em 1.25em;
}

.parallax-container .parallax { filter: blur(4px) brightness(50%); }

.flex-grid {
  margin-top: .5em;

  .colour {
    flex-basis: 14.1%;
    max-width: 14.1%;
    position: relative;
    height: 200px;
    transition: transform 200ms ease-in-out;
    z-index: 10;

    .name, .hex {
      position: absolute;
      font-size: 20px;
      font-weight: bold;
    }

    .name { left: .5em; top: .25em; }
    .hex { bottom: .5em; right: .5em; }

    &:hover {
      transform: translateY(-.5em) scale(1.05);
      transition: transform 200ms ease-in-out;
      z-index: 10000;
    }
  }
}

.image-preview {
  border-radius: 5px;
  border: 3px solid #303030;
  flex-basis: 48% !important;
  margin-top: .5em !important;
  max-width: 48% !important;
  position: relative;

  background-size: 20px 20px;
  background-position: 0 0, 30px 30px;
  background-image: linear-gradient(45deg,#2e3033 25%, transparent 0, transparent 75%, #2e3033 0, #2e3033),
                    linear-gradient(45deg, #2e3033 25%, transparent 0, transparent 75%, #2e3033 0, #2e3033);

  img { max-height: 250px; }
  .image-links {
    bottom: .5em;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    right: .5em;
  }

  .image-text {
    font-size: 22px;
    font-weight: bold;
    left: .5em;
    position: absolute;
    top: .25em;
    text-shadow: 0 0 5px #000;
  }
}

/* Responsive */
@media (max-width: 800px) {
  .flex-grid .colour {
    .name, .hex { font-size: 16px; }
  }
}

@media (max-width: 600px) {
  .flex-grid {
    .colour, .image-preview {
      flex-basis: 90% !important; max-width: 90% !important;
      padding: 0; width: 90%; margin: 0 auto;
    }
  }
}


/* R e s p o n s i v e */
@media (max-width: 550px) {
  .info-container { padding-left: 0; }
  .title { font-size: 2em; }
}
