footer.text-center.box-container.primary-bg
  p.no-margin
    a(href="https://github.com/AlexFlipnote/alexflipnote.github.io/blob/master/LICENSE" target="_blank") LICENSE
    span.footer-name AlexFlipnote
    a(href="https://github.com/AlexFlipnote/alexflipnote.github.io" target="_blank") Source
