/* Imports */
@import url('keyframes.css');

/* Global Definitions */
a, html, body, h1, h2, h3, h4, h5, p {
  color: white;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

body { background: #2C2F33; animation: onload 600ms ease-in-out; }
main { display:flex; flex-direction: column; align-items: center; }
b, a { color: #14BAE4; }
b, a, p { font-size: 20px; }
a { text-decoration: none; }
h2 { font-size: 37px; }
p { color: rgba(255, 255, 255, 0.6); }

/* Background */
.parallax { width: 100%; height: 14em; }
.me, .parallax {
  background: url('../images/background.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

/* Navbar */
.top-button a, .top-button a:hover { padding: .5em; transition: all 200ms ease; }
.top-button a:hover {
  background: #14BAE4;
  color: white;
  transform: translateY(-0.3em);
}
.top-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #23272A;
  width: 100%;
}


/* Profile and Info */
.image_title { border-radius: 100%; width: 120px; }
.title { font-size: 3.5rem; }
.info { padding-bottom: 1rem; }
.text_panel_info { width: 90%; margin: 2rem; }
.me {
  width: 100%;
  height: auto;
  padding: 1rem 0 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.text_panel_first {
  width: 100%;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* Double List */
.column p { margin-bottom: .6em; }
.column { width: 47%; }
.column:nth-of-type(1) { float: left; }
.column:nth-of-type(2) { float: right; }

/* Bottom */
footer {
  padding-top: 1rem; padding-bottom: 1rem;
  width: 100%;
  text-align: center;
  background: #23272A;
}

/* Responsive */
@media screen and (max-width: 600px) {
  .column { width: 95%; }
  .column:nth-of-type(1), .column:nth-of-type(2) { float: none; }
  .column:nth-of-type(2) { margin-top: 2em; }
  .parallax { height: 5em; }

  b, a, p { font-size: 15px; }
  h2 { font-size: 30px; }
}

@media screen and (max-width: 375px) {
  b, a, p { font-size: 13px; }
  h2 { font-size: 27px; }
  .title { font-size: 40px; }
}


/* --- 404 Page --- */
/* Background */
.background { animation: colorchange 50s infinite; }
.overlay { background: rgba(0, 0, 0, 0.7); width: 100%; height: 100%; }
.center_page {
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Content */
.error-text { text-align: center; font-size: 10vmin; }
img.error-image {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2em;
  display: block;
}
