/* 404 Colour Background */
@keyframes colorchange {
  0%   { background: red; }
  25%  { background: yellow; }
  50%  { background: blue; }
  75%  { background: green; }
  100% { background: red; }
}

@-webkit-keyframes colorchange {
  0%   { background: red; }
  25%  { background: yellow; }
  50%  { background: blue; }
  75%  { background: green; }
  100% { background: red; }
}

/* Index .me start up */
@keyframes onload {
  from { transform: translateY(-5em); opacity: 0; }
  100% { transform: translateY(0px); opacity: 1; }
}

@-webkit-keyframes onload {
  from { transform: translateY(-5em); opacity: 0; }
  100% { transform: translateY(0px); opacity: 1; }
}
