---
permalink: "/discord/"
layout: default

title: xelA
description: A powerful bot for your discord server
keywords: xelA, bot, discord, 24/7, hot
favicon: assets/images/profile_bot.png
---

<div class="background bot"></div>
<div class="center-object">
  <section class="me">
    <div class="two_images">
      <img draggable="false" src="{{ site.url }}/assets/images/profile_bot.png" class="image-title">
      <img draggable="false" src="{{ site.url }}/assets/images/discord.png" class="image-title" style="border-radius: 0;">
    </div>
    <h1 class="title">xelA</h1>
    <h1 class="undertitle">A powerful bot for your discord server</h1>
  </section>
  <div class="buttons">
    <a href="https://discord.gg/DpxkY3x" class="btn discord" target="_blank">Discord</a>
    <a id="trigger" class="btn green">Invite</a>
    <a class="btn green">Stats</a>
    <a href="https://twitter.com/AlexFlipnote" class="btn twitter" target="_blank">Twitter</a>
    <a href="https://github.com/AlexFlipnote/discord_bot.py" class="btn github" target="_blank">GitHub Source</a>
  </div>
</div>

<a href="#information"><div id="fade" class="arrow bounce"></div></a>

<section class="container bot" id="information">
  <h1><i class="twa twa-spiral-notepad"></i> Testimonials:</h1>
  <div class="rowcard">
    {% for member in site.data.testimonials %}
    <div class="card">
      <img draggable="false" src="{{ site.url }}/assets/images/testimonials/{{ member.avatar }}">
      <h1 class="name">{{ member.name }}</h1>
      {% if member.url %}
        <a href="{{ member.url }}" target="_blank"><h1 class="title">{{ member.title }}</h1></a>
      {% else %}
        <h1 class="title">{{ member.title }}</h1>
      {% endif %}
      <p class="text">{{ member.text }}</p>
    </div>
    {% endfor %}
  </div>
</section>

<!-- Modal popout screen -->
<div id="modal" class="modal modal--close">
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>To invite <b>xelA</b> to your server, you will need a server which meets some of the requirements:</p>
    <ul>
      <li>Active server</li>
      <li>Non-abusive members (aka. people who will spam bots)</li>
      <li>Over 1000 members (doesn't count bots)</li>
      <li>Server with intention of growing</li>
    </ul>
    <p>
      If you want to take further contact, visit my Discord server by clicking the <b>Discord</b> button
      under this popout, then talk to me at <b>AlexFlipnote#0021</b><br><br>
      Also remember, the settings are in JSON format, so I hope you have some experience with it.
    </p>
  </div>
</div>
