{
  "root": true,
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2021,
    "allowImportExportEverywhere": true,
    "ecmaFeatures": {
    "jsx": true,
      "modules": true
    }
  },
  "rules": {
    "indent": ["error", 2],
    "quotes": ["error", "double"],
    "semi": ["error", "never"]
    },
    "env": {
      "es6": true,
      "node": true,
      "browser": true
    },
    "extends": ["eslint:recommended", "plugin:react/recommended"],
    "plugins": ["react"]
}
