/* Imports */
@import url('twemoji.css');
@import url('arrow.css');

/* Global Definitions */
a, html, body, h1, h2, h3, h4, h5, p {
  color: white;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

body { background: #191919; }
main { display:flex; flex-direction: column; align-items: center; }
b, a { color: #14BAE4; }
b, p, a { font-size: 1.1em; }
a { text-decoration: none; }
h2 { font-size: 1.75em; }
p { color: rgba(255, 255, 255, 0.6); }

/* Navbar */
.top-button a, .top-button a:hover { padding: .5em; transition: all 200ms ease; font-size: 1.15em; }
.top-button a:hover {
  background: #14BAE4;
  color: white;
  transform: translateY(-0.3em) scale(1.05);
}
.top-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}


/* Profile and Info */
.background_main {
  background: url('../images/background.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  filter: blur(5px) brightness(50%);
}

.information {
  width: 95%; margin: 2rem;
}

.center_object {
  width: 100%;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}

.me {
  z-index: 10;
  width: 100%;
  height: auto;
  padding: 1rem 0 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Titles */
.highlight { color: #fff; }
.image_title { border-radius: 100%; width: 9em; }
.item_title, .title, .undertitle { filter: drop-shadow(6px 6px 0px rgba(0,0,0,0.4)); }
.item_title {
  font-family: Product Sans;
  letter-spacing: 2px;
  padding: 9px;
  border-radius: 5px 5px 0 0;
}
.item_content {
  filter: drop-shadow(6px 6px 0px rgba(0,0,0,0.4));
  padding: 10px;
  background-color: #303030;
  border-radius: 0 0 5px 5px;
}
.title {
  font-size: 3.5rem;
  font-family: Product Sans;
  letter-spacing: 5px;
}
.undertitle {
  font-size: 2rem;
  font-family: Product Sans;
}

/* Flex Boxes */
.flex-container {
  padding: 0;
  margin: 2rem;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: flex-start;
}

.flex-item, .flex-item:hover {transition: all 200ms ease;}
.flex-item {
  padding: 10px;
  width: calc(50% - 40px);
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;

  line-height: 30px;
  color: white;
  font-weight: bold;

  border-radius: 15px;
}

.newterm {
  margin-top: 1.5em;
  font-size: 2em;
}
.newsubterm { margin-top: 1em; }
.subterm { padding-left: 1.5em; }
.subterm, .subterm p, .subterm b { font-size: 1em; }

/* Bottom */
footer {
  padding-top: 1rem; padding-bottom: 1rem;
  margin-top: 4rem;
  width: 100%;
  text-align: center;
  background: #282828;
  box-shadow: 0 0px 25px 15px #282828;
  -moz-box-shadow: 0 0px 25px 15px #282828;
  -webkit-box-shadow: 0 0px 25px 15px #282828;
}

/* Medium screens */
@media all and (max-width: 1400px) {
  .flex-item {
    width: calc(100% - 30px);
  }
}

/* Responsive */
@media screen and (max-width: 700px) {
  .flex-container { margin: 0.5em; }
  .flex-item { width: 100%; }
  .information { width: 100%; margin: 0.1rem; }
  b, a, p { font-size: 15px; }
  h2 { font-size: 30px; }
}

@media screen and (max-width: 500px) {
  b, a, p { font-size: 13px; }
  h2 { font-size: 27px; }
  .title { font-size: 40px; }
}

.avatar_title {
  margin-top: 1em;
  margin-bottom: 1em;
}
.col.s12.m6.l3 { margin-bottom: 4em; }
.col.s12.m6.l3 img { width: 10em; cursor: pointer; }
.col.s12.m6.l3 img:hover { transform: scale(0.9); }
.col.s12.m6.l3 img, .col.s12.m6.l3 img:hover { transition: all 300ms ease; }

.green { background-color: #4CAF50 }
.cyan { background-color: #00bcd4 }
.pink { background-color: #e91e63 }
.orange { background-color:#ff9800 }
