<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>

<!-- Meta Data -->
<meta name="theme-color" content="{% if page.themecolour %}{{ page.themecolour }}{% else %}{{ site.themecolour }}{% endif %}">
<meta content="{{ site.url }}/assets/images/profile.png" property="og:image" />
<link rel="icon" type="image/x-icon" href="{% if page.favicon %}{{ site.url }}/{{ page.favicon }}{% else %}{{ site.url }}/assets/images/favicon.ico{% endif %}">
<meta content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" property="og:title" />
{% if page.description %}
<meta content="{{ page.description }}" property="og:description" />
<meta content="{{ page.description }}" name="description" />
{% endif %}
<meta name="revisit-after" content="2 days">
<meta name="keywords" content="AlexFlipnote, Twitter, Developer, Github{% if page.keywords %}, {{ page.keywords }}{% else %}{% endif %}">

<meta property="og:locale" content="en_GB" />
<link rel="canonical" href="{{ site.url }}{{ page.url }}" />
<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
<meta property="og:site_name" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
{% if site.twitter %}
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@{{ site.twitter }}" />
{% endif %}

<!-- CSS -->
<link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto+Mono" rel="stylesheet">
<link href="{{ site.url }}/assets/css/main.css" type="text/css" rel="stylesheet">

<!-- JavaScript -->
<script src="{{ site.url }}/assets/js/smoothscroll.min.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ site.url }}/assets/js/jarallax.min.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ site.url }}/assets/js/main.js" type="text/javascript" charset="utf-8"></script>
