/* Fonts */
@font-face {
  font-family: "runescape";
  src: url("/static/fonts/runescape.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "snowstorm";
  src: url("/static/fonts/snowstorm_bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.snowstorm { font-family: "snowstorm"; }
.runescape {
  font-family: "runescape";
  color: #efff00;
}

.dropshadow-small { text-shadow: rgba(0, 0, 0, .5) .075em .075em 0; }

/* Change a bit default ModestaCSS values */
.fullscreen h1.title { margin-bottom: 0; letter-spacing: 2px; }
.box-container { margin-bottom: .5rem; }
.box-container p {
  font-size: 18px;
  margin: 0;
}


/* Some custom stuff */
.arrow svg { fill: #fff; }
.info-button { cursor: pointer; }
.info-container { padding-left: 2.5em; }

/* Avatar */
.avatar-container {
  position: relative;
}

.image-title {
  position: relative;
  z-index: auto;
}

.image-unusual {
  height: 225px;
  left: -4em;
  position: absolute;
  top: -5.25em;
  transform: rotate(330deg);
  width: 225px;
  z-index: auto;
}

.image-antlers {
  height: 125px;
  left: -5.25em;
  position: absolute;
  top: -3.75em;
  transform: rotate(325deg);
  width: 200px;
  z-index: auto;
}

.title { font-size: 3em; margin: 0; }
.subtitle { font-size: 1.5em; margin-bottom: 0; }

/* Link bullshit */
a { color: #1eaedb; }

/* Custom Modesta emojis */
.norway {
  background-image: url('https://twemoji.maxcdn.com/2/svg/1f1f3-1f1f4.svg');
  vertical-align: -.3em;
  height: 1.25em;
  width: 1.25em;
  background-size: 1.25em 1.25em;
}

.parallax-container .parallax { filter: blur(4px) brightness(50%); }
.flex-grid { margin-top: .5em; }

.flex-grid .colour {
  flex-basis: 14.1%;
  max-width: 14.1%;
  position: relative;
  height: 200px;
  transition: transform 200ms ease-in-out;
  z-index: 10;
}

.colour-margin-top {
  margin-top: 2em;
}

.col-no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.box-container .colour-info {
  padding: .5em 1em;
  font-size: 2.5vmin;
  font-style: italic;
}

.flex-grid .colour.full {
  max-width: 100%;
  flex-basis: 100%;
}

.flex-grid .colour:hover {
  transform: translateY(-.5em) scale(1.05);
  transition: transform 200ms ease-in-out;
  z-index: 10000;
}

.flex-grid .colour .name, .flex-grid .colour .hex {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
}

.flex-grid .colour .name { left: .5em; top: .25em; }
.flex-grid .colour .hex { bottom: .5em; right: .5em; }

.image-preview {
  border-radius: 5px;
  border: 3px solid #303030;
  margin-top: .5em !important;
  position: relative;
  /*
    NOTE: Might need, idk, keeping just in case
    flex-basis: 48% !important;
    max-width: 48% !important;
  */

  background-size: 20px 20px;
  background-position: 0 0, 30px 30px;
  background-image: linear-gradient(45deg,#2e3033 25%, transparent 0, transparent 75%, #2e3033 0, #2e3033),
                    linear-gradient(45deg, #2e3033 25%, transparent 0, transparent 75%, #2e3033 0, #2e3033);
}

.image-preview img { max-height: 250px; }
.image-preview .image-links {
  bottom: .5em;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  right: .5em;
}

.image-preview .image-text {
  font-size: 22px;
  font-weight: bold;
  left: .5em;
  position: absolute;
  top: .25em;
  text-shadow: 0 0 5px #000;
}

/* Responsive */
@media (max-width: 800px) {
  .flex-grid .colour .name, .flex-grid .colour .hex { font-size: 16px; }
}

@media (max-width: 600px) {
  .flex-grid .colour, .flex-grid .image-preview {
    flex-basis: 90% !important; max-width: 90% !important;
    padding: 0; width: 90%; margin: 0 auto;
  }
}


/* R e s p o n s i v e */
@media (max-width: 550px) {
  .info-container { padding-left: 0; }
  .title { font-size: 2em; }
}
