/* Runescape font */
@font-face {
  font-family: "runescape";
  src: url("/static/fonts/runescape.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.runescape {
  font-family: "runescape";
  color: #efff00;
}

html { scroll-behavior: smooth; }

.black-theme {
  background-color: #000;
  color: #fff;
}

.black-theme .fullscreen { background-color: #000; }

.click-to-start {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 200;
  cursor: pointer;
}

.click-to-start + .fullscreen {
  filter: blur(10px);
}

.dropshadow-small { text-shadow: rgba(0, 0, 0, 0.5) 0.075em 0.075em 0; }
.dropshadow-medium { text-shadow: rgba(0, 0, 0, 0.5) 0.09em 0.09em 0; }

/* Change a bit default ModestaCSS values */
.fullscreen h1.title {
  margin-bottom: 0;
  letter-spacing: 2px;
}

.box-container { margin-bottom: .5rem; }
.box-container p {
  font-size: 18px;
  margin: 0;
}
.box-container .colour-info {
  padding: .5em 1em;
  font-size: 2.5vmin;
  font-style: italic;
}

/* Some custom stuff */
.arrow svg { fill: #fff; }
.info-button { cursor: pointer; }
.info-container { padding-left: 2.5em; }

/* Avatar */
.avatar-container { position: relative; }

.image-title {
  position: relative;
  z-index: auto;
}

.title {
  font-size: 3em;
  margin: 0;
}

.subtitle {
  font-size: 1.5em;
  margin-bottom: 0;
}

/* Link bullshit */
a { color: #1eaedb; }

/* GitHub pinned repositories */
.pinned-container {
  padding-right: 8px;
  padding-left: 8px;
  display: flex;
  margin-bottom: 16px;
  box-sizing: border-box;
  width: 33.33333332%;
}

.pinned-container .box-content {
  background-color: #282828;
  border-color: #303030;
  border-radius: 0.375rem;
  border-style: solid;
  border-width: 1px;
  display: flex;
  padding: 1rem;
  width: 100%;
  flex-direction: column;
}

.pinned-container .box-content p {
  font-size: 1rem;
}

.pinned-container .box-content svg {
  fill: #1eaedb;
  vertical-align: middle;
  display: inline-block;
}

/* Default layout style */
.article-list {
  margin-top: 1em;
  position: relative;
}

.index-title .undertitle {
  color: #666;
  font-size: 16px;
  letter-spacing: 1px;
}

.article-list .splitletter {
  height: 2.25em;
  position: relative;
  width: 100%;
}

.article-list .firstletter {
  font-size: 2em;
  left: 0;
  margin: 0;
  position: absolute;
  text-align: center;
  width: auto;
}

.article-list .listing {
  margin: 0;
  margin-top: .25em;
}

.article-list ul {
  list-style-type: none;
  padding: 0 !important;
}

/* Blog layout style */
.markdown-jekyll>*:first-child { margin-top: 0 !important; }
.markdown-jekyll .blog-splitter { position: relative; }
.markdown-jekyll .blog-title h1 {
  padding: 0;
  margin: 0;
  border: 0;
}
.markdown-jekyll .blog-labels span { font-size: 14px; }
.markdown-jekyll .emoji-lg { vertical-align: -0.3em; }
.markdown-jekyll pre {
  background-color: #303030;
}

.markdown-jekyll img[alt*="BigImage"] { max-width: 70% !important; }
.markdown-jekyll img[alt*="Center"] { display: block !important; margin: 0 auto !important; }

.markdown-jekyll .blog-labels {
  position: absolute;
  top: -.75em;
  width: 100%;
}

@media (max-width: 800px) {
  .markdown-jekyll img[alt*="BigImage"] { max-width: 100% !important; }
}

@media (max-width: 600px) {
  .markdown-jekyll .blog-labels { position: relative; top: 0; }
  .markdown-jekyll .label { margin-bottom: .5em; }
  .markdown-jekyll hr.blog-split-yes { margin: 12px 0; }
}


/* Custom Modesta emojis */
.norway {
  background-image: url("https://twemoji.maxcdn.com/2/svg/1f1f3-1f1f4.svg");
  vertical-align: -.3em;
  height: 1.25em;
  width: 1.25em;
  background-size: 1.25em 1.25em;
}

.parallax-container .parallax { filter: blur(4px) brightness(50%); }
.colour-margin-top { margin-top: 2em; }

.col-no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.flex-grid { margin-top: .5em; }

.flex-grid .colour {
  flex-basis: 14.1%;
  max-width: 14.1%;
  position: relative;
  height: 200px;
  transition: transform 200ms ease-in-out;
  z-index: 10;
}

.flex-grid .colour.full {
  max-width: 100%;
  flex-basis: 100%;
}

.flex-grid .colour:hover {
  transform: translateY(-0.5em) scale(1.05);
  transition: transform 200ms ease-in-out;
  z-index: 10000;
}

.flex-grid .colour .name,
.flex-grid .colour .hex {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
}

.flex-grid .colour .name {
  left: .5em;
  top: .25em;
}

.flex-grid .colour .hex {
  bottom: .5em;
  right: .5em;
}

.me .undertitle {
  max-width: 550px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

footer p {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

footer p a, footer p span { margin: 0 .25em; }

.image-preview {
  background-image:
    linear-gradient(45deg, #2e3033 25%, transparent 0, transparent 75%, #2e3033 0, #2e3033),
    linear-gradient(45deg, #2e3033 25%, transparent 0, transparent 75%, #2e3033 0, #2e3033);

  background-position: 0 0, 30px 30px;
  background-size: 20px 20px;
  border-radius: 5px;
  border: 3px solid #303030;
  margin-top: .5em !important;
  position: relative;
}

.image-preview img { max-height: 250px; }
.image-preview .image-links {
  bottom: .5em;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  right: .5em;
}

.image-preview .image-text {
  font-size: 22px;
  font-weight: bold;
  left: .5em;
  position: absolute;
  top: .25em;
  text-shadow: 0 0 5px #000;
}

@media (max-width: 800px) {
  .pinned-container { width: 49.99999992%; }
  .flex-grid .colour .name,
  .flex-grid .colour .hex {
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .pinned-container { width: 100%; }
  .flex-grid .image-preview,
  .flex-grid .colour {
    flex-basis: 90% !important;
    max-width: 90% !important;
    padding: 0;
    width: 90%;
    margin: 0 auto;
  }
}

@media (max-width: 550px) {
  .info-container { padding-left: 0; }
  .title { font-size: 2em; }
}
