// Runescape font
@font-face
  font-family: "runescape"
  src: url("/static/fonts/runescape.ttf") format("truetype")
  font-weight: normal
  font-style: normal

.runescape
  font-family: "runescape"
  color: #efff00

// Nintendo font
@font-face
  font-family: "shingo"
  src: url('/static/fonts/AOTFShinGoProHeavy.woff') format('woff')

.shingo
  font-family: "shingo"
  line-height: 1.25em
