@import '../assets/animation';
@import '../assets/browser';

.buttons a {
  @include transition('all 200ms ease');
  @include crossbrowser('tap-highlight-color', transparent);
  border: 0;
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  font-size: 1.1em;
  height: 36px;
  line-height: 36px;
  margin: .25em;
  padding: 0 2rem;
  vertical-align: middle;

  &:hover {
    @include transform(translateY(-.3em) scale(1.05));
    color: #fff;
    filter: brightness(50%);
  }
}
