@import '../assets/animation';
@import '../assets/browser';

.buttons {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.btn {
  @for $x from 1 through 10 {
    &:nth-child(#{$x}) {
      animation-delay: $x * .25s;
    }
  }

  @include animation('button-enter 750ms ease-in-out forwards');
  @include transition('all 350ms ease');
  background-color: transparent;
  border-radius: 5px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 38px;
  line-height: 38px;
  margin: .5em;
  opacity: 0;
  padding: 0 30px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;

  &.discord { @include dropshadow(#7289da); }
  &.twitter { @include dropshadow(#1da1f2); }
  &.github { @include dropshadow(#24292e); }
  &.steam { @include dropshadow(#000); }
  &.email { @include dropshadow(#9b59b6); }
  &.mine { @include dropshadow(#1abc9c); }
  &.back { @include dropshadow(#2ecc71); }

  &:hover {
    @include transition('all 350ms ease');
    color: #fff;
  }
}
