@import '../assets/animation';

@include keyframes(bounce) {
  0%, 20%, 50%, 80%, 100% { @include transform(translateY(0)); }
  40% { @include transform(translateY(-30px)); }
  60% { @include transform(translateY(-15px)); }
}

@include keyframes(fading) {
  from { opacity: 0; }
  100% { opacity: 1; }
}

@include keyframes(button-enter) {
  from { @include transform(translateY(2em)); opacity: 0; }
  70% { @include transform(translateY(-.3em)); }
  100% { @include transform(translateY(0)); opacity: 1; }
}
