@media (max-width: 660px) {
  .center-object .me {
    .title { font-size: 5rem; }
    .image-title { width: 8em; }
  }

  .buttons {
    align-items: center;
    display: block;
    justify-content: center;

    .btn {
      align-items: center;
      display: flex;
      font-size: 24px;
      justify-content: center;
      padding: 30px 0;
      text-align: center;
    }
  }
}
