@media (max-width: 660px) {
  .center-object {
    top: 45%;

    .me {
      padding: 0;
      .title { font-size: 5rem; }
      .image-title { width: 8em; }
    }
  }

  .buttons {
    align-items: center;
    display: block;
    justify-content: center;

    .btn {
      align-items: center;
      display: flex;
      font-size: 20px;
      justify-content: center;
      padding: 25px 0;
      text-align: center;
    }

    .btn, .btn:hover { filter: none; }
  }

  .container {
    h1 { font-size: 8vmin; }
    p { font-size: 1em; }
  }
}
