a, html, body, h1, h2, h3, h4, h5, p {
  color: white;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

body { background: #272727; color: #fff; }
a { font-size: 16px; text-decoration: none; }
h1 { text-align: center; font-size: 10vmin; }
p { color: rgba(255, 255, 255, 0.6); }

#timer { font-family: Verdana; }

.top-button a, .top-button a:hover { padding: .5em; transition: all 200ms ease; }
.top-button a:hover { background: #14BAE4; color: white; transform: translateY(-0.3em); }
.top-button { display: flex; align-items: center; justify-content: center; width: 100%; }

.center_page {
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0px 25px 25px rgba(0, 0, 0, 0.7);
  transform: translate(-50%, -50%);
}

iframe {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.credits {
  padding: 10px;
  position: absolute;
  bottom: 0; left: 0;
  background: rgba(0, 0, 0, .7);
  border-radius: 0px 10px 0px 0px;
}
