/* Change a bit default ModestaCSS values */
.title { margin-bottom: 0; letter-spacing: 2px; }
.fullscreen h1.title { letter-spacing: 2px; }
.box-container p { font-size: 18px; margin-bottom: .2em; }

/* Add some spacing to the info on "second page" for more depth */
.info-container { padding-left: 2.5em; }

/* Remove border-radius standard from ModestaCSS */
.btn { border-radius: 0; }

/* Custom emojis */
.alexcoffee { background-image: url('../images/AlexCoffee.png'); }
.alexnerd { background-image: url('../images/AlexNerd.png'); }

/* Funny gibus hat */
.avatar-container {
  position: relative;
}

/* R e s p o n s i v e */
@media (max-width: 550px) {
  .info-container { padding-left: 0; }
}
