@import url("skeleton.css");
@import url("twemoji.css");
.arrow {
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  animation: fading 300ms ease-in-out;
  -webkit-animation: fading 300ms ease-in-out;
  -ms-animation: fading 300ms ease-in-out;
  -moz-animation: fading 300ms ease-in-out;
  -o-animation: fading 300ms ease-in-out;
  background-image: url("../images/arrow.png");
  background-size: contain;
  bottom: 20px;
  height: 40px;
  left: 50%;
  margin-left: -20px;
  position: absolute;
  width: 40px; }

.arrow--scrolled {
  animation: fading 300ms ease-in-out;
  -webkit-animation: fading 300ms ease-in-out;
  -ms-animation: fading 300ms ease-in-out;
  -moz-animation: fading 300ms ease-in-out;
  -o-animation: fading 300ms ease-in-out;
  cursor: default;
  opacity: 0; }

.bounce {
  animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  -ms-animation: bounce 2s infinite;
  -moz-animation: bounce 2s infinite;
  -o-animation: bounce 2s infinite; }

.buttons {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center; }

.btn {
  animation: button-enter 750ms ease-in-out forwards;
  -webkit-animation: button-enter 750ms ease-in-out forwards;
  -ms-animation: button-enter 750ms ease-in-out forwards;
  -moz-animation: button-enter 750ms ease-in-out forwards;
  -o-animation: button-enter 750ms ease-in-out forwards;
  transition: all 350ms ease;
  -webkit-transition: all 350ms ease;
  -ms-transition: all 350ms ease;
  -moz-transition: all 350ms ease;
  -o-transition: all 350ms ease;
  background-color: transparent;
  border-radius: 5px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 38px;
  line-height: 38px;
  margin: .5em;
  opacity: 0;
  padding: 0 30px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap; }
  .btn:nth-child(1) {
    animation-delay: 0.25s; }
  .btn:nth-child(2) {
    animation-delay: 0.5s; }
  .btn:nth-child(3) {
    animation-delay: 0.75s; }
  .btn:nth-child(4) {
    animation-delay: 1s; }
  .btn:nth-child(5) {
    animation-delay: 1.25s; }
  .btn:nth-child(6) {
    animation-delay: 1.5s; }
  .btn:nth-child(7) {
    animation-delay: 1.75s; }
  .btn:nth-child(8) {
    animation-delay: 2s; }
  .btn:nth-child(9) {
    animation-delay: 2.25s; }
  .btn:nth-child(10) {
    animation-delay: 2.5s; }
  .btn.discord {
    background-color: #7289da;
    filter: drop-shadow(5px 5px 0 rgba(114, 137, 218, 0.6)); }
    .btn.discord:hover {
      filter: drop-shadow(5px 5px 0 rgba(114, 137, 218, 0.6)) brightness(50%); }
  .btn.twitter {
    background-color: #1da1f2;
    filter: drop-shadow(5px 5px 0 rgba(29, 161, 242, 0.6)); }
    .btn.twitter:hover {
      filter: drop-shadow(5px 5px 0 rgba(29, 161, 242, 0.6)) brightness(50%); }
  .btn.github {
    background-color: #24292e;
    filter: drop-shadow(5px 5px 0 rgba(36, 41, 46, 0.6)); }
    .btn.github:hover {
      filter: drop-shadow(5px 5px 0 rgba(36, 41, 46, 0.6)) brightness(50%); }
  .btn.steam {
    background-color: #000;
    filter: drop-shadow(5px 5px 0 rgba(0, 0, 0, 0.6)); }
    .btn.steam:hover {
      filter: drop-shadow(5px 5px 0 rgba(0, 0, 0, 0.6)) brightness(50%); }
  .btn.email {
    background-color: #9b59b6;
    filter: drop-shadow(5px 5px 0 rgba(155, 89, 182, 0.6)); }
    .btn.email:hover {
      filter: drop-shadow(5px 5px 0 rgba(155, 89, 182, 0.6)) brightness(50%); }
  .btn.green {
    background-color: #2ecc71;
    filter: drop-shadow(5px 5px 0 rgba(46, 204, 113, 0.6)); }
    .btn.green:hover {
      filter: drop-shadow(5px 5px 0 rgba(46, 204, 113, 0.6)) brightness(50%); }
  .btn:hover {
    transition: all 350ms ease;
    -webkit-transition: all 350ms ease;
    -ms-transition: all 350ms ease;
    -moz-transition: all 350ms ease;
    -o-transition: all 350ms ease;
    color: #fff; }

a, html, body, h1, h2, h3, h4, p {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  margin: 0; }

html {
  margin: 0; }

body {
  background: #181818; }

b, a {
  color: #14bae4; }

b, p, a {
  font-size: 1.1em; }

a {
  text-decoration: none; }

p {
  color: rgba(255, 255, 255, 0.6); }

footer {
  background: #282828;
  margin-top: 4rem;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  text-align: center;
  width: 100%; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #181818;
  border-radius: 10px; }

::-webkit-scrollbar {
  background-color: #181818;
  width: 12px; }

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #2ecc71;
  border-radius: 10px; }

.container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 960px;
  padding: 0 20px;
  position: relative;
  width: 100%; }

.container::after, .row::after {
  clear: both;
  content: '';
  display: table; }

.column, .columns {
  box-sizing: border-box;
  float: left;
  width: 100%; }

.one-half.column {
  width: 48%; }

.highlight {
  color: #fff; }

#information {
  margin-top: 2em; }
  #information .row {
    background-color: #191919;
    border-radius: 10px;
    filter: drop-shadow(5px 5px 0 rgba(0, 0, 0, 0.5));
    margin-bottom: 3em;
    padding: 1em; }
  #information .one-half.column {
    width: 95%; }
  #information .container {
    max-width: 1350px; }

.container.bot {
  margin-bottom: 5em;
  max-width: none;
  width: 90%; }
  .container.bot h1 {
    display: block;
    margin-bottom: .5em;
    text-align: center; }
  .container.bot .rowcard {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-around; }
  .container.bot .card {
    background: #282828;
    display: block;
    filter: drop-shadow(5px 5px 0 rgba(0, 0, 0, 0.5));
    margin: 10px;
    max-width: 325px;
    padding: .5em;
    text-align: center; }
    .container.bot .card .name {
      background: rgba(0, 0, 0, 0.5);
      font-size: 20px;
      margin-bottom: 0;
      padding-bottom: 5px;
      padding-top: 5px; }
    .container.bot .card .text {
      font-size: 14px;
      margin-left: 10px;
      margin-right: 10px;
      text-align: left; }

.background {
  filter: blur(5px) brightness(50%);
  height: 100%;
  width: 100%; }
  .background.main {
    background: url("../images/background.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .background.bot {
    background: url("../images/background_bot.gif");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px) brightness(200%); }

.center-object {
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
  position: absolute;
  top: 50%;
  width: 100%; }
  .center-object .me {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    padding: 1rem 0;
    width: 100%;
    z-index: 10; }
    .center-object .me .image-title {
      border-radius: 100%;
      width: 9em; }
    .center-object .me .title {
      filter: drop-shadow(6px 6px 0 rgba(0, 0, 0, 0.4));
      font-size: 5rem;
      letter-spacing: 1px;
      margin: .25em; }
    .center-object .me .undertitle {
      filter: drop-shadow(3px 3px 0 rgba(0, 0, 0, 0.4));
      font-size: 2.5rem;
      letter-spacing: 1px;
      margin: 0; }

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -moz-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -moz-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px); } }
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -moz-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -moz-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px); } }
@-o-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -moz-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -moz-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px); } }
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -moz-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -moz-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px); } }
@-webkit-keyframes fading {
  from {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes fading {
  from {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-o-keyframes fading {
  from {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fading {
  from {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes fading-modal-in {
  from {
    -moz-transform: translateY(3.5em);
    -o-transform: translateY(3.5em);
    -ms-transform: translateY(3.5em);
    -webkit-transform: translateY(3.5em);
    transform: translateY(3.5em);
    opacity: 0; }
  70% {
    -moz-transform: translateY(-1em);
    -o-transform: translateY(-1em);
    -ms-transform: translateY(-1em);
    -webkit-transform: translateY(-1em);
    transform: translateY(-1em); }
  100% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }
@-moz-keyframes fading-modal-in {
  from {
    -moz-transform: translateY(3.5em);
    -o-transform: translateY(3.5em);
    -ms-transform: translateY(3.5em);
    -webkit-transform: translateY(3.5em);
    transform: translateY(3.5em);
    opacity: 0; }
  70% {
    -moz-transform: translateY(-1em);
    -o-transform: translateY(-1em);
    -ms-transform: translateY(-1em);
    -webkit-transform: translateY(-1em);
    transform: translateY(-1em); }
  100% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }
@-o-keyframes fading-modal-in {
  from {
    -moz-transform: translateY(3.5em);
    -o-transform: translateY(3.5em);
    -ms-transform: translateY(3.5em);
    -webkit-transform: translateY(3.5em);
    transform: translateY(3.5em);
    opacity: 0; }
  70% {
    -moz-transform: translateY(-1em);
    -o-transform: translateY(-1em);
    -ms-transform: translateY(-1em);
    -webkit-transform: translateY(-1em);
    transform: translateY(-1em); }
  100% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }
@keyframes fading-modal-in {
  from {
    -moz-transform: translateY(3.5em);
    -o-transform: translateY(3.5em);
    -ms-transform: translateY(3.5em);
    -webkit-transform: translateY(3.5em);
    transform: translateY(3.5em);
    opacity: 0; }
  70% {
    -moz-transform: translateY(-1em);
    -o-transform: translateY(-1em);
    -ms-transform: translateY(-1em);
    -webkit-transform: translateY(-1em);
    transform: translateY(-1em); }
  100% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }
@-webkit-keyframes fading-modal-out {
  from {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  30% {
    -moz-transform: translateY(-1em);
    -o-transform: translateY(-1em);
    -ms-transform: translateY(-1em);
    -webkit-transform: translateY(-1em);
    transform: translateY(-1em); }
  100% {
    -moz-transform: translateY(3.5em);
    -o-transform: translateY(3.5em);
    -ms-transform: translateY(3.5em);
    -webkit-transform: translateY(3.5em);
    transform: translateY(3.5em);
    display: none;
    opacity: 0; } }
@-moz-keyframes fading-modal-out {
  from {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  30% {
    -moz-transform: translateY(-1em);
    -o-transform: translateY(-1em);
    -ms-transform: translateY(-1em);
    -webkit-transform: translateY(-1em);
    transform: translateY(-1em); }
  100% {
    -moz-transform: translateY(3.5em);
    -o-transform: translateY(3.5em);
    -ms-transform: translateY(3.5em);
    -webkit-transform: translateY(3.5em);
    transform: translateY(3.5em);
    display: none;
    opacity: 0; } }
@-o-keyframes fading-modal-out {
  from {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  30% {
    -moz-transform: translateY(-1em);
    -o-transform: translateY(-1em);
    -ms-transform: translateY(-1em);
    -webkit-transform: translateY(-1em);
    transform: translateY(-1em); }
  100% {
    -moz-transform: translateY(3.5em);
    -o-transform: translateY(3.5em);
    -ms-transform: translateY(3.5em);
    -webkit-transform: translateY(3.5em);
    transform: translateY(3.5em);
    display: none;
    opacity: 0; } }
@keyframes fading-modal-out {
  from {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  30% {
    -moz-transform: translateY(-1em);
    -o-transform: translateY(-1em);
    -ms-transform: translateY(-1em);
    -webkit-transform: translateY(-1em);
    transform: translateY(-1em); }
  100% {
    -moz-transform: translateY(3.5em);
    -o-transform: translateY(3.5em);
    -ms-transform: translateY(3.5em);
    -webkit-transform: translateY(3.5em);
    transform: translateY(3.5em);
    display: none;
    opacity: 0; } }
@-webkit-keyframes button-enter {
  from {
    -moz-transform: translateY(2em);
    -o-transform: translateY(2em);
    -ms-transform: translateY(2em);
    -webkit-transform: translateY(2em);
    transform: translateY(2em);
    opacity: 0; }
  70% {
    -moz-transform: translateY(-0.3em);
    -o-transform: translateY(-0.3em);
    -ms-transform: translateY(-0.3em);
    -webkit-transform: translateY(-0.3em);
    transform: translateY(-0.3em); }
  100% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }
@-moz-keyframes button-enter {
  from {
    -moz-transform: translateY(2em);
    -o-transform: translateY(2em);
    -ms-transform: translateY(2em);
    -webkit-transform: translateY(2em);
    transform: translateY(2em);
    opacity: 0; }
  70% {
    -moz-transform: translateY(-0.3em);
    -o-transform: translateY(-0.3em);
    -ms-transform: translateY(-0.3em);
    -webkit-transform: translateY(-0.3em);
    transform: translateY(-0.3em); }
  100% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }
@-o-keyframes button-enter {
  from {
    -moz-transform: translateY(2em);
    -o-transform: translateY(2em);
    -ms-transform: translateY(2em);
    -webkit-transform: translateY(2em);
    transform: translateY(2em);
    opacity: 0; }
  70% {
    -moz-transform: translateY(-0.3em);
    -o-transform: translateY(-0.3em);
    -ms-transform: translateY(-0.3em);
    -webkit-transform: translateY(-0.3em);
    transform: translateY(-0.3em); }
  100% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }
@keyframes button-enter {
  from {
    -moz-transform: translateY(2em);
    -o-transform: translateY(2em);
    -ms-transform: translateY(2em);
    -webkit-transform: translateY(2em);
    transform: translateY(2em);
    opacity: 0; }
  70% {
    -moz-transform: translateY(-0.3em);
    -o-transform: translateY(-0.3em);
    -ms-transform: translateY(-0.3em);
    -webkit-transform: translateY(-0.3em);
    transform: translateY(-0.3em); }
  100% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }
.modal {
  animation: fading-modal-in 600ms ease-in-out;
  -webkit-animation: fading-modal-in 600ms ease-in-out;
  -ms-animation: fading-modal-in 600ms ease-in-out;
  -moz-animation: fading-modal-in 600ms ease-in-out;
  -o-animation: fading-modal-in 600ms ease-in-out;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  height: 100%;
  left: 0;
  overflow: auto;
  padding-top: 100px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1; }

.modal--close {
  animation: fading-modal-out 600ms ease-in-out;
  -webkit-animation: fading-modal-out 600ms ease-in-out;
  -ms-animation: fading-modal-out 600ms ease-in-out;
  -moz-animation: fading-modal-out 600ms ease-in-out;
  -o-animation: fading-modal-out 600ms ease-in-out; }

.modal-content {
  background-color: #272727;
  font-family: Arial;
  margin: auto;
  padding: 20px;
  width: 80%; }
  .modal-content * {
    color: #fff; }
  .modal-content p {
    margin: 5px; }
  .modal-content ul, .modal-content li {
    list-style-type: disc;
    margin: 0;
    padding: 0; }
  .modal-content .close {
    color: #bbb;
    float: right;
    font-size: 2.5em;
    font-weight: bold;
    margin-right: -.1em;
    margin-top: -.7em; }
    .modal-content .close:hover, .modal-content .close:focus {
      color: #fff;
      cursor: pointer;
      text-decoration: none; }

@media (max-width: 750px) {
  .center-object {
    top: 45%;
    width: 90%; }
    .center-object .me {
      padding: 0; }
      .center-object .me .title {
        font-size: 5rem; }
      .center-object .me .image-title {
        width: 8em; }

  .buttons {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center; }
    .buttons .btn {
      align-items: center;
      display: flex;
      font-size: 18px;
      justify-content: center;
      line-height: 20px;
      padding: 25px 0;
      text-align: center;
      white-space: pre-line;
      width: calc(45% - 30px); }
    .buttons .btn, .buttons .btn:hover {
      filter: none; }

  .container h1 {
    font-size: 8vmin; }
  .container p {
    font-size: 1em; } }
@media (min-width: 400px) {
  .container {
    padding: 0;
    width: 85%; } }
@media (min-width: 550px) {
  .container {
    width: 90%; }

  .column, .columns {
    margin-left: 4%; }

  .column:first-child, .columns:first-child {
    margin-left: 0; } }

/*# sourceMappingURL=index.css.map */
