@import url("twemoji.css");

@import '../assets/browser';

a, html, body, h1, h2, h3, h4, p {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  margin: 0;
}

body { background: #191919; }
b, a { color: #14bae4; }
b, p, a { font-size: 1.1em; }
a { text-decoration: none; }
p { color: rgba(255, 255, 255, .6); }

footer {
  @include crossbrowser(box-shadow, 0 0 25px 15px #282828);
  background: #282828;
  margin-top: 4rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  text-align: center;
  width: 100%;
}
