.background-main {
  background: url('../images/background.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(2px) brightness(50%);
  height: 100%;
  width: 100%;
}

.center-object {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

  .me {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    padding: 1rem 0;
    width: 100%;
    z-index: 10;

    .image-title { border-radius: 100%; width: 9em; }
    .title {
      filter: drop-shadow(6px 6px 0 rgba(0, 0, 0, .4));
      font-size: 5rem;
      letter-spacing: 1px;
      margin: .25em;
    }
  }
}
