<html>
  <head>
    {% set title = "AlexFlipnote" %}
    {% set desc = "My personal homepage" %}
    {% set path = "/" %}
    {% include "components/_head.jinja" %}
  </head>
  <body class="dark-theme github">
    <div class="fullscreen">
      <div class="background" style="background-image: url({{ static('images/background.jpg') }});"></div>
      <div class="center-object">
        <div class="container">
          <section class="me unset">
            <div class="avatar-container">
              <img draggable="false" src="{{ static('images/profile.png') }}" class="image-title">
            </div>
            <div class="unset">
              <h1 class="title monospace">AlexFlipnote</h1>
              <p class="undertitle monospace"><i class="emoji norway"></i> I do coding, yes.</p>
            </div>
          </section>
          <div class="buttons">
            <a href="/branding" class="btn sun-flower-dropshadow black-text animation hover">Branding</a>
            <a href="https://discord.gg/DpxkY3x" class="btn discord-dropshadow animation hover" target="_blank">Discord</a>
            <a href="mailto:root@alexflipnote.dev" class="btn emerald-dropshadow animation hover">Email</a>
            <a href="https://github.com/AlexFlipnote" class="btn github-dropshadow animation hover" target="_blank">GitHub</a>
            <a href="https://typing.alexflipnote.dev/" class="btn alizarin-dropshadow animation hover" target="_blank">Typing test</a>
            <a href="https://youtube.com/AlexFlipnote" class="btn youtube-dropshadow animation hover" target="_blank">YouTube</a>
          </div>
        </div>
      </div>

      <span class="info-button" onclick="scroll_to('information')"><div id="fade" class="arrow bounce">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 481.32 291.98" class="white-fill">
          <path d="M466.5,15.5L466,15c-19.8-19.8-52-19.8-71.9,0L240.8,168.3L87.2,14.8C67.4-5,35.2-5,15.4,14.8l-0.5,0.5 C-5,35.2-5,67.4,14.8,87.2l186.6,186.6c0.9,1,1.8,2,2.7,3v0c3.8,3.8,8.1,6.9,12.7,9.3c17,9,38.1,7.7,53.9-3.9 c2.2-1.6,4.4-3.4,6.4-5.4L466.5,87.4C486.4,67.6,486.4,35.4,466.5,15.5z"/>
        </svg>
      </div></span>
    </div>

    <section class="container" id="information">
      <div class="box-container">
        <h1 class="title emerald-text"><i class="emoji alex-coffee"></i> Information:</h1>
        <div class="info-container"><p>
          Hello, my name is <span class="emerald-text">Alex</span>, but known as <span class="emerald-text">AlexFlipnote</span> over the internet.
          I'm a Developer that spends time coding scripts and building websites.
          Been coding for around <span class="sun-flower-text" id="years-of-coding">[INSERT TIME HERE, YES]</span> now and still on the road to learn more.
          Current coding languages I know fair enough are <span class="emerald-text">HTML, CSS, SCSS, JavaScript, Python</span> and <span class="emerald-text">SQL</span>.
        </p></div>
      </div>

      <div class="box-container">
        <h1 class="title emerald-text"><i class="emoji alex-noted"></i> Projects:</h1>
        <div class="info-container">
          {%
            set projects_list = [
              ("https://xela.dev", "xelA", "the only bot your Discord would ever need, it's time to ditch Mee6 and Tickets."),
              ("https://github.com/xelA/discord_bot.py", "discord_bot.py", "a simple discord bot that helps you get started within discord.py."),
              ("https://github.com/AlexFlipnote/Modesta", "Modesta", "a responsive CSS framework with built-in dark and light theme."),
              ("https://alexflipnote.dev/homepage", "AlexFlipnote/homepage", "website that can be used as a personal start page with clock and date."),
              ("https://github.com/AlexFlipnote/CoffeeAPI", "CoffeeAPI", "simple, yet powerful API providing random images."),
              ("https://github.com/AlexFlipnote/diskspace", "diskspace", "making it possible to use Linux df & du command on Windows."),
              ("https://typing.alexflipnote.dev", "Typing test", "how fast can you type? Find out today with a typing test!"),
            ]
          %}
          {% for url, title, info in projects_list %}
            <p><a href="{{ url }}" target="_blank">{{ title }}</a>, {{ info }}</p>
          {% endfor %}
        </div>
      </div>
    </section>
    {% include "components/_footer.jinja" %}
  </body>
</html>
