<html>
  <head>
    {% set title = "AlexFlipnote" %}
    {% set desc = "My personal homepage" %}
    {% set path = "/" %}
    {% include "components/_head.html" %}
  </head>
  <body class="dark-theme github">
    <div class="fullscreen">
      <div class="background" style="background-image: url('/static/images/background.jpg');"></div>
      <div class="center-object">
        <div class="container">
          <section class="me unset">
            <div class="avatar-container">
              <img draggable="false" src="/static/images/antlers.png" class="image-antlers">
              <img draggable="false" src="/static/images/profile.png" class="image-title">
              <img draggable="false" src="/static/images/fragmented_photons.png" class="image-unusual">
            </div>
            <div class="unset">
              <h1 class="title snowstorm dropshadow-small">AlexFlipnote</h1>
              <p class="undertitle runescape dropshadow-small"><i class="emoji norway"></i> I do coding yes yes.</p>
            </div>
          </section>
          <div class="buttons">
            <span class="btn sun-flower-dropshadow black-text animation hover" onclick="scroll_to('branding')">Branding</span>
            <a href="https://discord.gg/DpxkY3x" class="btn discord-dropshadow white-text animation hover" target="_blank">Discord</a>
            <a href="mailto:root@alexflipnote.dev" class="btn emerald-dropshadow black-text animation hover">Email</a>
            <a href="https://github.com/AlexFlipnote" class="btn github-dropshadow white-text animation hover" target="_blank">GitHub</a>
          </div>
        </div>
      </div>

      <span class="info-button" onclick="scroll_to('information')"><div id="fade" class="arrow bounce">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 481.32 291.98" class="white-fill">
          <path d="M466.5,15.5L466,15c-19.8-19.8-52-19.8-71.9,0L240.8,168.3L87.2,14.8C67.4-5,35.2-5,15.4,14.8l-0.5,0.5 C-5,35.2-5,67.4,14.8,87.2l186.6,186.6c0.9,1,1.8,2,2.7,3v0c3.8,3.8,8.1,6.9,12.7,9.3c17,9,38.1,7.7,53.9-3.9 c2.2-1.6,4.4-3.4,6.4-5.4L466.5,87.4C486.4,67.6,486.4,35.4,466.5,15.5z"/>
        </svg>
      </div></span>
    </div>

    <section class="container" id="information">

      <div class="box-container">
        <h1 class="title emerald-text"><i class="emoji alex-coffee"></i> Information:</h1>
        <div class="info-container"><p>
          Hello, my name is <span class="emerald-text">Alex</span>, but known as <span class="emerald-text">AlexFlipnote</span> over the internet.
          I'm a Developer that spends time coding scripts and building websites.
          Been coding for around <span class="sun-flower-text" id="years-of-coding">[INSERT TIME HERE, YES]</span> now and still on the road to learn more.
          Current coding languages I know fair enough are <span class="emerald-text">HTML, CSS, SCSS, JavaScript, Python</span> and <span class="emerald-text">SQL</span>.
        </p></div>
      </div>

      <div class="box-container">
        <h1 class="title emerald-text"><i class="emoji alex-noted"></i> Projects:</h1>
        <div class="info-container">
          {% for g in data.projects_list %}
            <p><a href="{{ g.url }}" target="_blank">{{ g.name }}</a>, {{ g.desc }}</p>
          {% endfor %}
        </div>
      </div>

      <hr>

      <div class="box-container" id="branding">
        <h1 class="title emerald-text"><i class="emoji alex-wholesome"></i> Branding:</h1>
        <p>
          Releasing my branding materials if you desire to use it.
          Only requirement I have for using this is to give proper
          information/credits about where the image comes from (alexflipnote.dev)
        </p>
        <p>
          <span class="sun-flower-text bold">Note: </span>All images listed under are licenced under
          <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">CC BY-NC-SA 4.0</a>
        </p>

        <h2 class="subtitle nephritis-blue-text">Colour usage:</h2>
        <p>
          These colours are the correct HEX codes to the original avatar.
          The seasonal versions are not included in here.
        </p>
        <div class="flex-grid">
          {% for g in data.branding_colours %}
            <div class="colour {{ g.font_colour }}-text" style="background: #{{ g.hex }};">
              <span class="name">{{ g.name }}<br>({{ g.part }})</span>
              <span class="hex">#{{ g.hex }}</span>
            </div>
          {% endfor %}
        </div>

        <h2 class="subtitle nephritis-blue-text">Current avatar</h2>
        <p>The official avatar I use under the username <b>AlexFlipnote</b> online</p>
        <div class="flex-grid">
          <div class="col-xs-6 image-preview center-flex">
            {{ branding_builder("avatar_full") | safe }}
          </div>
          <div class="col-xs-6 image-preview center-flex">
            {{ branding_builder("avatar") | safe }}
          </div>
        </div>

        <h2 class="subtitle nephritis-blue-text">xelA (simplified version)</h2>
        <p>The avatar used for xelA, which is a simplified version of the official avatar</p>
        <div class="flex-grid">
          <div class="col-xs-3 image-preview center-flex">
            {{ branding_builder("xela_winter") | safe }}
          </div>
          <div class="col-xs-3 image-preview center-flex">
            {{ branding_builder("xela_spring") | safe }}
          </div>
          <div class="col-xs-3 image-preview center-flex">
            {{ branding_builder("xela_summer") | safe }}
          </div>
          <div class="col-xs-3 image-preview center-flex">
            {{ branding_builder("xela_autumn") | safe }}
          </div>
        </div>
        <div class="flex-grid">
          <div class="col-xs-4 image-preview center-flex">
            {{ branding_builder("xela_default") | safe }}
          </div>
          <div class="col-xs-4 image-preview center-flex">
            {{ branding_builder("xela_halloween") | safe }}
          </div>
          <div class="col-xs-4 image-preview center-flex">
            {{ branding_builder("xela_christmas") | safe }}
          </div>
        </div>

      </div>

    </section>
    {% include "components/_footer.html" %}
  </body>
</html>
