<html>
  <head>
    {% set title = "alexspin" %}
    {% set desc = "alexspin" %}
    {% set path = "/spin" %}
    {% include "components/_head.html" %}
    <link href="/static/css/lights.css" type="text/css" rel="stylesheet">
  </head>
  <body class="black-theme github">
    <div class="click-to-start" id="click-spin-start">
      <h2>Click anywhere to start the spin</h2>
    </div>
    <div class="fullscreen">
      <div class="center-object">
        <h1 class="runescape" id="spin-time">0.0s</h1>
        <video loop id="spin-video">
          <source src="/static/videos/alexspin.mp4" type="video/mp4">
        </video>
      </div>
    </div>
    {% include "components/_footer.html" %}
  </body>
</html>
