{% set GITHUB_URL = "https://github.com/AlexFlipnote/alexflipnote.github.io" %}

<footer class="text-center box-container primary-bg">
  <p className="no-margin">
    <a href="{{ GITHUB_URL }}/blob/master/LICENSE" target="_blank" rel="noreferrer">LICENSE</a>
      <span className="footer-name">AlexFlipnote</span>
    <a href="{{ GITHUB_URL }}" target="_blank" rel="noreferrer">Source</a>
  </p>
</footer>
