.highlight {
  background: #282828;
  color: #d0d0d0;

  table {
    td { padding: 5px; }
    pre { margin: 0; }
  }

  .err {
    background-color: #ac4142;
    color: #151515;
  }

  .w { color: #d0d0d0; }
  .c, .cd, .cm, .c1, .cs { color: #888; }
  .cp, .nt { color: #f4bf75; }
  .o, .ow, .p, .pi { color: #cb4b16; }
  .gi { color: #90a959; }
  .gd { color: #ac4142; }
  .gh { color: #268bd2; font-weight: bold; }
  .k, .kn, .kp, .kr, .kv { color: #aa759f; }
  .kc, .kt, .kd { color: #d28445; }
  .s, .sb, .sc, .sd, .s2, .sh, .sx, .s1 { color: #90a959; }
  .sr { color: #75b5aa; }
  .si, .se { color: #8f5536; }
  .nn, .nc, .no { color: #f4bf75; }
  .na { color: #6a9fb5; }
  .m, .mf, .mh, .mi, .il, .mo, .mb, .mx, .ss { color: #90a959; }
}

pre.highlight code {
  background: transparent;
  border: 0;
}
