@import url("skeleton.css");

@import '../assets/browser';

a, html, body, h1, h2, h3, h4, p {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  margin: 0;
}

html { margin: 0; }
body { background: #181818; }
b, a { color: #14bae4; }
b, p, a { font-size: 1.1em; }
a { text-decoration: none; }
p { color: rgba(255, 255, 255, .6); }

footer {
  background: #282828;
  margin-top: 4rem;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  text-align: center;
  width: 100%;
}

::-webkit-scrollbar-track {
  @include crossbrowser(box-shadow, inset 0 0 6px rgba(0, 0, 0, .3));
  background-color: #181818;
  border-radius: 10px;
}

::-webkit-scrollbar {
  background-color: #181818;
  width: 12px;
}

::-webkit-scrollbar-thumb {
  @include crossbrowser(box-shadow, inset 0 0 6px rgba(0, 0, 0, .3));
  background-color: #2ecc71;
  border-radius: 10px;
}
