.container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 960px;
  padding: 0 20px;
  position: relative;
  width: 100%;
}

.container, .row {
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

.column, .columns {
  box-sizing: border-box;
  float: left;
  width: 100%;
}

.one-half.column { width: 48%; }
