@import '../assets/animation';

.highlight { color: #fff; }

@mixin direction($dir) {
  h1, h2, h3, h4, a, b, p {
    text-align: $dir;
  }
}

#information {
  margin-top: 2em;

  // Skeleton Custom CSS
  .row {
    background-color: #191919;
    border-radius: 10px;
    filter: drop-shadow(5px 5px 0 rgba(0, 0, 0, .5));
    margin-bottom: 3em;
    padding: 1em;
  }

  .one-half.column { width: 95%; }
  .container {
    max-width: 1350px;
  }
}

.container.bot {
  margin-bottom: 5em;
  max-width: none;
  width: 90%;

  .left { * { text-align: left; } }
  .right { * { text-align: right; } }

  h1 {
    display: block;
    margin-bottom: .5em;
    text-align: center;
  }

  .rowcard {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .card {
    background: #282828;
    display: block;
    filter: drop-shadow(5px 5px 0 rgba(0, 0, 0, .5));
    margin: .5em;
    max-width: 350px;
    text-align: center;

    .name {
      background: rgba(#000, .5);
      font-size: 20px;
      margin-bottom: 0;
      padding-bottom: 5px;
      padding-top: 5px;
    }

    .title {
      background: rgba(#000, .3);
      font-family: 'Roboto Mono', monospace;
      font-size: 16px;
      letter-spacing: .5px;
      margin-bottom: 0;
      padding-bottom: 5px;
      padding-top: 5px;
    }

    a .title {
      @include transition(all 400ms ease);
      color: #3498db;

      &:hover {
        @include transition(all 400ms ease);
        filter: brightness(175%);
        letter-spacing: 2px;
      }
    }

    .text {
      font-size: 13px;
      margin-left: 10px;
      margin-right: 10px;
      padding-bottom: .5em;
      padding-top: .5em;
      text-align: left;
    }
  }
}

table.stats {
  background-color: #282828;
  border-spacing: 0;
  filter: drop-shadow(3px 3px 0 rgba(0, 0, 0, .4));
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  padding: .5em 1.5em;

  tr:nth-child(1) td { border-bottom: 1px solid #fff; }
  tr td {
    border: 0;
    margin: 0;
    text-align: center;
  }
}
