@import '../assets/animation';

@mixin bgdefault($url) {
  background: url($url);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background {
  filter: blur(5px) brightness(50%);
  height: 100%;
  width: 100%;

  &.main { @include bgdefault('../images/background.jpg'); }
  &.bot {
    @include bgdefault('../images/background_bot.gif');
    filter: blur(5px) brightness(200%);
  }
}

.center-object {
  @include transform(translate(-50%, -50%));
  left: 50%;
  position: absolute;
  top: 50%;
  width: 100%;

  .me {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    padding: 1rem 0;
    width: 100%;
    z-index: 10;

    .image-title { border-radius: 100%; width: 9em; }
    .title {
      filter: drop-shadow(6px 6px 0 rgba(0, 0, 0, .4));
      font-size: 5rem;
      letter-spacing: 1px;
      margin: .25em;
    }

    .undertitle {
      filter: drop-shadow(3px 3px 0 rgba(0, 0, 0, .4));
      font-size: 2.5rem;
      letter-spacing: 1px;
      margin: 0;
    }
  }
}

table.stats {
  @include animation('fading-modal-in 600ms ease-in-out forwards');
  background-color: #282828;
  border-spacing: 0;
  filter: drop-shadow(3px 3px 0 rgba(0, 0, 0, .4));
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  opacity: 0;
  padding: .5em 1.5em;

  tr:nth-child(1) td { border-bottom: 1px solid #fff; }
  tr td {
    border: 0;
    margin: 0;
    text-align: center;
  }
}
