html
  head
    title 404: Page not found
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no")
    link(href="https://alexflipnote.dev/assets/css/modesta.css" type="text/css" rel="stylesheet")

    // Custom CSS
    style.
      h1 { font-size: 3em; }
      .alexsleepy { height: 128px; width: 128px; }
      .cursor { animation: 1s blink step-end infinite; font-weight: bolder; }
      @keyframes blink {
        from, to { opacity: 0; }
        50% { opacity: 1; }
      }

  body.monospace.dark-theme
    section.fullscreen
      .background
      .center-object.center-text
        img(src="https://alexflipnote.dev/assets/images/AlexSleepy.png" class="alexsleepy")
        h1.bold.no-margin
          span.alizarin-text 404 #[br] Page not found #[span.cursor _]

        .buttons
          a(href="/" class="btn alizarin-bg") Back to home
          a(href="#" class="btn emerald-bg" onclick="window.history.go(-1); return false;") Go one step back
