<html>
  <head>
    <title>HEX Clock - #000000</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <!-- Meta Data-->
    <meta name="theme-color" content="#14bae4"/>
    <meta content="https://alexflipnote.dev/static/images/profile.png" property="og:image"/>
    <link rel="icon" type="image/x-icon" href="https://alexflipnote.dev/static/images/favicon.ico"/>
    <meta content="HEX Clock - #000000" property="og:title"/>
    <meta content="The clock that changes the HEX background after 24h clock" property="og:description"/>
    <meta content="The clock that changes the HEX background after 24h clock" name="description"/>
    <meta name="revisit-after" content="2 days"/>
    <meta name="keywords" content="AlexFlipnote, Twitter, Developer, Github"/>
    <meta property="og:locale" content="en_GB"/>
    <link rel="canonical" href="https://alexflipnote.dev/playground/hexclock"/>
    <meta property="og:url" content="https://alexflipnote.dev/playground/hexclock"/>
    <meta property="og:site_name" content="AlexFlipnote"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@AlexFlipnote"/>
    <!-- CSS-->
    <link href="/static/playground/hexclock/modesta.css" type="text/css" rel="stylesheet"/>
    <link href="/static/playground/hexclock/custom.css" type="text/css" rel="stylesheet"/>
    <!-- JavaScript-->
    <script src="/static/playground/hexclock/clock.js" type="text/javascript"></script>
  </head>
  <body id="bg" style="background-color: #000000" class="dark-theme">
    <div class="center-object center-text time-container">
      <h1 id="timetext" class="time no-margin">00:00:00</h1>
      <h1 id="time" class="hex no-margin">#000000</h1>
    </div>
    <div class="homepage">
      <p>My homepage plugin uses this as an option with the backgrounds of choice,
        <a href="https://github.com/AlexFlipnote/homepage" target="_blank">try it out</a> for free.
      </p>
    </div>
  </body>
</html>
